<a href="" target="_blank">
  <header class="top-header">
  </header>

  <!--dust particel-->
  <div>
    <div class="starsec"></div>
    <div class="starthird"></div>
    <div class="starfourth"></div>
    <div class="starfifth"></div>
  </div>
  <!--Dust particle end--->


  <div class="lamp__wrap">
    <div class="lamp">
      <div class="cable"></div>
      <div class="cover"></div>
      <div class="in-cover">
        <div class="bulb"></div>
      </div>
      <div class="light"></div>
    </div>
  </div>
  <!-- END Lamp -->
  <section class="error">
    <!-- Content -->
    <div class="error__content">
      <div class="error__message message">
        <h1 class="message__title">Pagina No Encontrada</h1>
        <p class="message__text">
          Lo sentimos, la pagina o el enlace que buscas no fue encontrado, por favor entra de nuevo o intentalo mas tarde.
        </p>
      </div>
      <div class="error__nav e-nav">
        <a routerLink='inicio' class="e-nav__link"></a>
      </div>
    </div>
    <!-- END Content -->

  </section>

</a>
