<body class="bg-img">

  <div class="container">
    <h1 style="padding: 20px" data-aos="fade-right" data-aos-duration="1500">PERFIL PROFESIONAL</h1>
    <br>
    <p data-aos="zoom-in" data-aos-duration="1500">
      BACHILLER ACADÉMICO CON ESTUDIOS APLAZADOS DE OCTAVO SEMESTRE EN INGENIERÍA ELECTRÓNICA; DESEMPEÑANDOSE COMO
      INDEPENDIENTE EN PROGRAMACIÓN DE SISTEMAS POS Y PÁGINAS WEB; COMPETENCIAS A NIVEL LABORAL COMO ASIMILACIÓN DE
      NORMAS, COMPROMISO LABORAL Y DISPOSICIÓN PARA EL APRENDIZAJE.
    </p>
  </div>
  <br><br>

  <div class="container">

    <h4 data-aos="fade-left" data-aos-duration="1500">FORMACIÓN ACADÉMICA</h4>

    <br>

    <table class="table" data-aos="fade-right" data-aos-duration="1500">
      <thead class="thead-dark">
        <tr>
          <th scope="col" colspan="2" style="text-align: center;">Secundaria</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Titulación :</th>
          <td>Bachiller Tecnico</td>
        </tr>
        <tr>
          <th>Estado :</th>
          <td>Terminado 2013</td>
        </tr>
        <tr>
          <th>Institucion:</th>
          <td>Unidad Educativa Luis Carlos Galan Sarmiento Chinauta</td>
        </tr>
      </tbody>
    </table>
    <br>
    <table class="table" data-aos="fade-left" data-aos-duration="1500">
      <thead class="thead-dark">
        <tr>
          <th scope="col" colspan="2" style="text-align: center;">Formacion Universitaria</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Titulación :</th>
          <td>Ingeniero Electronico</td>
        </tr>
        <tr>
          <th>Estado :</th>
          <td>Aplazado</td>
        </tr>
        <tr>
          <th>Institucion:</th>
          <td>Universidad de Cundinamarca</td>
        </tr>
      </tbody>
    </table>

    <br>

    <table class="table">
      <thead class="thead-dark" data-aos="fade-right" data-aos-duration="1500">
        <tr>
          <th scope="col" colspan="2" style="text-align: center;">Complementaria</th>
        </tr>
      </thead>

      <tbody data-aos="fade-left" data-aos-duration="1500">
        <tr>
          <th>Titulación :</th>
          <td>Introduccion al Desarrollo WEB I y II</td>
        </tr>
        <tr>
          <th>Estado :</th>
          <td>Terminado</td>
        </tr>
        <tr>
          <th>Institucion:</th>
          <td>Google Activate</td>
        </tr>
      </tbody>

      <tbody data-aos="fade-right" data-aos-duration="1500">
        <tr>
          <th>Titulación :</th>
          <td>VARIABLES Y ESTRUCTURAS DE CONTROL
            EN LA PROGRAMACION ORIENTADA A OBJETOS: JAVA</td>
        </tr>
        <tr>
          <th>Estado :</th>
          <td>terminado</td>
        </tr>
        <tr>
          <th>Institucion:</th>
          <td>SENA</td>
        </tr>
      </tbody>

      <tbody data-aos="fade-left" data-aos-duration="1500">
        <tr>
          <th>Titulación :</th>
          <td>Crea APIRest fácilmente con Python, php, laravel o nodeJS</td>
        </tr>
        <tr>
          <th>Estado :</th>
          <td>terminado</td>
        </tr>
        <tr>
          <th>Institucion:</th>
          <td>udemy</td>
        </tr>
      </tbody>

    </table>

    <div class="child-page-listing">

      <h2 data-aos="fade-down-left" data-aos-duration="1000">Algunos Certificados</h2>

      <div class="grid-container">

        <article id="3685" class="location-listing" data-aos="fade-down-right" data-aos-duration="1000">

          <a class="location-title" >
            Certificado Google Activate HTML y CSS 1</a>

          <div class="location-image">
            <a >
              <img width="300" height="169"
                src="../../../assets/img/certificado1.jpg" alt="Certificado.jpg">
            </a>

          </div>

        </article>

        <article id="3688" class="location-listing" data-aos="fade-down-right" data-aos-duration="1000">

          <a class="location-title" >
            Certificado Google Activate HTML y CSS 2 </a>

          <div class="location-image">
            <a >
              <img width="300" height="169" src="../../../assets/img/certificado2.jpg"
                alt="certificado.jpg"> </a>

          </div>

        </article>

        <article id="3691" class="location-listing" data-aos="fade-down-right">

          <a class="location-title" >
            Certificado SENA </a>

          <div class="location-image">
            <a >
              <img width="300" height="169"
                src="../../../assets/img/certificadoSena.jpg" alt="new york"> </a>

          </div>

        </article>

        <article id="3694" class="location-listing" data-aos="fade-down-right" data-aos-duration="1000">

          <a class="location-title">
             Certificado Udemy</a>

          <div class="location-image">
            <a>
              <img width="300" height="169"
                src="../../../assets/img/certificadoUdemy.jpg" alt="certificado.jpg"> </a>

          </div>

        </article>

      </div>
      <!-- end grid container -->

    </div>

  </div>

  <br><br>

</body>
