<section class="parallax" id="parallax-img-1">

  <div class="parallax-caption">

    <span class="parallax-border">Bienvenido</span>

  </div>

</section>

<div class="parallax-container container">

  <div data-aos="fade-up" data-aos-duration="1500">

    <h3 style="text-align:center;">¿Quien Soy?</h3>

    <br>

    <p>
      Hola, Como ya pudiste notarlo me llamo David Nova, soy un desarrollador independiente, con 3 años de experiencia
      como freelance.
    </p>

  </div>

</div>


<section class="parallax" id="parallax-img-2"></section>

<div class="parallax-container container">

  <h3 style="text-align:center;" data-aos="fade-left" data-aos-duration="1500">Mis Estudios</h3>

  <div class="overflow">

    <figure class="item-left" data-aos="fade-right" data-aos-duration="1500">

      <img src="../../../assets/img/ucundinamarca.svg" class="img-container" alt="Universidad_de_Cundinamarca.jpg">

      <figcaption class="figure-caption">Escudo Universidad<br>de<br>Cundinamarca</figcaption>
    </figure>

    <p data-aos="fade-left" data-aos-duration="1500">

      <br>

      Comencé mis estudios a la edad de 16 años en la ciudad de Fusagasugá, aproximadamente a dos horas de la capital de
      nuestro país Bogotá, y allí empecé la carrera de Ingeniería Electrónica.

      <br><br>

      Lugar donde desperté mi gusto por la programación y carrera la cual en este momento tengo aplazada en 8vo
      Semestre.

      <br><br>

      En estos momentos me encuentro cursando el tecnólogo en Análisis Y desarrollo de Sistemas de información del SENA,
      curso el cual me permitirá certificar parte de mis habilidades como desarrollador.
    </p>

  </div>

</div>

<section class="parallax" id="parallax-img-3"></section>

<div class="parallax-container container">

  <h3 style="text-align:center;" data-aos="fade-up-right" data-aos-duration="1500">Hobbies y Aficiones</h3>

  <br>

  <div class="overflow">

    <img src="../../../assets/img/developer.jpg" class="border border-white item-right img-container"
      alt="developer.jpg" style="margin-left: 15px; border-radius: 15px;" data-aos="fade-left" data-aos-duration="1500">

    <p data-aos="fade-up-left" data-aos-duration="1500">
      En mis tiempos libres dedico mucho tiempo al aprendizaje, por esta razón tengo conocimientos de los cambios que se
      realizan a los frameworks que me gustan y otros lenguajes, que, aunque no uso me mantengo informado de ellos.

      <br><br>

      También dedico tiempo a las nuevas tecnologías, laptops, tablets moviles y demas esto debido a que tengo una gran
      fascinación por el mundo electrónico y digital.

      <br><br>

      El uso de microcontroladores también me ha llevado a mantenerme informado y experimentado con estos dispositivos
      para programar dispositivos tangibles que puedan ser usados en campos de mucho impacto como son la domótica.
    </p>

  </div>

</div>

<section class="parallax" id="parallax-img-4"></section>

<div class="parallax-container container">

  <h3 style="text-align: center;" data-aos="flip-up" data-aos-duration="1500">¿Porque elegí el camino del desarrollo?</h3>

  <br>

  <div class="overflow">

    <p data-aos="zoom-in" data-aos-duration="1500">

      Desde temprana edad tuve contacto con las computadoras, siendo una persona que siempre tiene curiosidad por las
      cosas, empecé a encaminarme al manejo de estas, con el tiempo y algo de dominio, empecé a aprender cosas sobre el
      mantenimiento básico del hardware de estas.

      <br><br>

      Lo que en unos años me llevó a ganar algo de dinero reparando computadoras, oficio que al día de hoy aún ejecutó
      por tiempo libre, ese contacto con las computadoras me llevó a estudiar ingeniería electrónica, la cual como ya
      había dicho fue la que me hizo descubrir mi gusto por la programación.

    </p>

  </div>

</div>
